<link rel="stylesheet" type="text/css" href="css/borderMenu.css">
<nav id="bt-menu" class="bt-menu">
  <a href="#" class="bt-menu-trigger">
    <span>Menu</span>
    <div class="name">CHRIS TEREFINKO</div>
  </a>
  <ul>
    <li><a href="projects">Projects</a></li>
    <li><a href="about">About me</a></li>
    <li><a href="http://github.com/cterefinko">Github</a></li>
    <li><a href="http://www.linkedin.com/in/cterefinko/">LinkedIn</a></li>
  </ul>
</nav>
<script type="text/javascript" src="js/borderMenu.js"></script>
<script type="text/javascript" src="js/classie.js"></script>