<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Chris Terefinko Fresh Melodies">
    <title>Ball Tap App</title>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <% include partials/ga %>
  </head>
  <body>
    <% include partials/navbar %>
    
    <div class="container">
      <div class="header">Ball Tap App</div>
      <div class="info-tile balltapapp-info"></div>
      <div class="info">
        Ball Tap App is an iOS game that I created in Swift that uses SpriteKit. The objective is to touch the balls that travel across the screen before they disappear. When you miss one, you lose a life. When you go for a time period without missing any, you earn a life.
      </div>
    </div>
  </body>
<html>
