<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLTorrent</title>
    <meta name="description" content="Chris Terefinko BLTorrent">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <% include partials/ga %>
  </head>
  <body>
    <% include partials/navbar %>

    <div class="container">
      <div class="header">BLTorrent</div>
      <a href="https://github.com/masonbedard/BLTorrent"><div class="info-tile bltorrent-info"></div><a>
      <div class="info">
        Bacon lettuce torrent is a command line torrent client that supports multiple simultaneous downloads. It was written in ruby by a friend and myself. It supports several advanced techniques to increase the overall download speed, such as end-game mode, rarest first requests, anti-snubbing, and a chocking algorithm. More info on the client can be found on the github page.
      </div>
    </div>
  </body>
<html>