<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Chris Terefinko Chat">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <% include partials/ga %>
  </head>
  <body>
    <% include partials/navbar %>
    
    <div class="container">
      <div class="header">Fresh Melodies</div>
      <a href="http://christerefinko.com:9001"><div class="info-tile chat-info"></div><a>
      <div class="info">
        Chat is a real-time web chat. It is written in node using socket.io, providing the real-time capabilities that it supports. All history is saved and loaded when a user accesses the site. They can enter their name and their message, and after it is sent, it is available to all users that are on the site and all future users.
      </div>
    </div>
  </body>
<html>