<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Chris Terefinko Fresh Melodies">
    <title>Fresh Melodies</title>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <% include partials/ga %>
  </head>
  <body>
    <% include partials/navbar %>
    
    <div class="container">
      <div class="header">Fresh Melodies</div>
      <a href="http://freshmelodies.com"><div class="info-tile freshmelodies-info"></div><a>
      <div class="info">
        Fresh melodies is a website a friend and myself started at a hack-a-thon. It allows users to add content from youtube and soundcloud, the difference between this and every other music sharing site is that popular music isn't allowed. The site only allows music that hasn't been heard enough based on the amount of listens it has and the time it has been around.
      </div>
    </div>
  </body>
<html>