<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Chris Terefinko Questions">
    <title>Questions</title>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <% include partials/ga %>
  </head>
  <body>
    <% include partials/navbar %>
    
    <div class="container">
      <div class="header">Questions</div>
      <a href="https://github.com/cterefinko/questions_app"><div class="info-tile questions-info"></div><a>
      <div class="info">
        This is a web app that I wrote in rails that allows users to register and ask questions publicly. Users are able to browse the questions without registering, but to ask one, it is required. Once registered, a question can be asked anonymously or with their name displayed. Users that are admins have access to a portal that will allow them to monitor the site and the users.
      </div>
    </div>
  </body>
<html>